body {
    background-size: cover;
}
#copy_right_footer {
    text-align: center; 
    width: 100% ;
    background-color: rgb(3, 155, 237);
    bottom: 0 ;
    position: fixed;
    height: 46px;
    padding-top: 10px;
    color: white;
    font-size: 19px;
    font-family: 'Otomanopee One', sans-serif;
}
#inputObject {
    width: 400px;
    height: 50px;
    padding-bottom:0px;
    background-color:rgb(3, 155, 237);
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
    border-radius: 100px;
    padding-left: 10px;
    border: 2px solid white ;
    font-size: 21px;
}
canvas {
    box-shadow: 0px 0px 20px rgb(3, 155, 237);
}